* {
    padding: 0;
    margin: 0;
}

/* base style */
body {
    font-family: Roboto;
}

header {
    background: #1f2937;
    font-size: 1.125rem;
    color: #e5e7eb;
    /* border: 2px solid red; */
    overflow: hidden;
    padding: 1.25rem; /* 20 / 16 = 1.25*/
}

.header-logo {
    /* border: 2px solid green; */
    float: left;
}

.menu {
    float: right;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    display: inline;
}

a {
    text-decoration: none;
    font-size: 1.125rem; /* 18px / 16 = 1.125 */
    color: #e5e7eb;
}

button {
    background: #3882f6;
}

h2 {
    font-size: 2.25rem;
    color: #1f2937;
}

/* .quote {
    background: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 1;
} */

blockquote {
    margin: 0;
}

blockquote p {
    padding: 0.9rem;
    background: #eee;
    color: #1f2937;
    border-radius: 5px;
    font-size: 2.25rem; /* 36 / 16 = 2.25 */
    font-weight: 200;
    font-style: italic;
}

blockquote p::before {
    content: '\201c';
}

blockquote p::after {
    content: '\201d';
}
