* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* base style */
body {
    font-family: Roboto;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

button {
    background-color: #3882f6;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
}

.menu {
    /* border: 1px solid #fff; */
    /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
    color: #e5e7eb;
    font-size: 18px;
    margin-right: 20px;
}

.header {
    /* border: 1px solid black; */
    /* For debugging */
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 300px;
    /* flex-direction: column; */
}

.text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 80px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.image {
    margin-top: 80px;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.photo-grid {
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.photo-grid-item {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.quote-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote {
    /* border: 1px solid black; */
    width: 900px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 36px;
    color: #1f2937;
    font-weight: 200;
    font-style: italic;
}

.signup-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    padding: 20px;
}

.signup {
    /* border: 1px solid black; */
    background-color: #3882f6;
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #e5e7eb;
    border-radius: 5px;
}

.signup button {
    border: 1px solid #e5e7eb;
    color: #e5e7eb;
}

.footer-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px 0;
}